@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


nav{
  display: flex;
  align-items: center;
  background-color: white;
  height: 60px;
  padding:30px 25px;
  color:burlywood;
}

.cardInfo{
  padding: 1rem;
  font-size: 20px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(12rem , 16rem));
  gap:2rem;
  justify-content: center;
}
.Card{
  overflow: hidden;
  box-shadow: 0 2px 20px grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  
}
.Card > h3{
  padding: 1rem;
}
.Card > p{
  padding: 0 1rem;
}
.Card > button{
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid;
  color:orange;
  background-color: bisque;
  border-radius: 25px;
  transition:background 200ms ease-in, color 200ms ease-in;
}
.cardimg{
  height:12rem;
  width: 100%;
  object-fit: cover;
}

.login{
  align-items: center;
  height: 60px;
  color:#282c34;
}

main{
  padding: 55px 27px;
  color: black;
}


nav > img{
  height: 70px;
  
}

nav > Link{
  margin: 0;
  text-decoration: none;
}

.title{
  margin-right: auto;
  color: #61DAFB;
  font-size: 22px;
}

body{
  background-color: white;
  font-family: Oxygen , sans-serif;
  margin:2rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal {
  position: fixed;
  z-index: 20;
  background: #fff;
  width: 75%;
  height: 60%;
  border-radius: 30px;

  /* Center the modal */
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__header {
  background: grey;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.modal__main {
  padding: 20px;
}

.close-button {
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
}

.close-button:hover {
  color: yellow;
}
